.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #002f5d;
  color: white;
}

.header .search-bar {
  flex: 1;
  margin: 0 20px;
  padding: 8px;
}

.nav-links a {
  color: white;
  margin: 0 10px;
}
.header .search-container {
  display: flex;
  align-items: center;
}

.header .search-bar {
  width: 250px; /* Smaller search bar width */
  margin-right: 10px;
}

.advanced-search {
  color: blue;
  font-weight: bold;
}